In [631]:
from rpy2.robjects import r
from itertools import combinations
from function import near_cell
from function import distance
from function import coexistence
import os

import argparse
import numpy as np
import pandas as pd
import time

In [632]:
#########################################################
#near_cell

In [633]:
###################################

In [636]:
def near_cell(picture_num, df_cotimes, cut_off = .1):
    """Computing the counts of near cell pairs
    according to the cutoff denoted by user
    
    Parameters
    ______________
    picture_num: the number of the first few pictures
    chosen from all the pictures
    cut_off: the threshold to choose near cell pairs
    df_cotimes: the dataframe generated by funtion coexistence(),
    storing times of coexistence of cell pairs
    
    Returns
    ______________
    df_near: a dataframe similar to df_cotimes,
    recording the counts of near cell pairs
    """  
    for file_num in range(picture_num):
        df_dis = pd.read_csv('./distance_rate/t%03d-dis.csv' % (file_num+1), sep=',', header=None)
        index = df_dis.iloc[:,2] > cut_off
        df_remove = df_dis[index].iloc[:,:-1]
        #drop redoundance
        for i in range(df_remove.shape[0]):
            df_remove.iloc[i,:] = list(df_remove.iloc[i,:].sort_values())
        df_remove = df_remove.drop_duplicates([0,1])
        #drop counts that is larger than cute_off from total coexistence times
        for j in range(df_remove.shape[0]):
            cellA = df_remove.iloc[j,0]
            cellB = df_remove.iloc[j,1]
            index = (df_cotimes.iloc[:,0] == cellA) & (df_cotimes.iloc[:,1] == cellB)
            recount = int(df_cotimes[index].iloc[0,2]) - 1
            df_cotimes[index] = [cellA, cellB, recount]
        print(file_num)
    df_near = df_cotimes
    return df_near

In [637]:
picture_num = 180
df_cotimes = coexistence(picture_num)

In [638]:
df_cotimes.columns = [0,1,2]

In [639]:
df_cotimes.iloc[:7,:]

     0    1   2
0   AB   P1   1
1  ABa  ABp  12
2  ABa   P1   2
3  ABp   P1   2
4  ABa  EMS  10
5  ABa   P2  10
6  ABp  EMS  10

In [640]:
df_cotimes = pd.read_csv('./cotimes.csv', sep=',', header=None);df_cotimes.iloc[:7,:]

     0    1   2
0   AB   P1   1
1  ABa  ABp  12
2  ABa   P1   2
3  ABp   P1   2
4  ABa  EMS  10
5  ABa   P2  10
6  ABp  EMS  10

In [635]:
def main():
#    for i in range(180):
#        #converting format
#        print('converting format: %.0f%%' % ((i+1)/180*100), end='\r')
#        os.system('python clean_data.py -f ./nuclei/t%03d-nuclei -d ./test' % (i+1))
#        #compute and output distance rate
#        data = pd.read_csv('./test/t%03d-nuclei.csv' % (i+1), sep=',', header=None)
#        dis_rate = distance(data)
#        dis_rate.to_csv('./distance_rate/t%03d-dis.csv' % (i+1), index=None, header=None) 
#   
    picture_num = 180
    df_cotimes = coexistence(picture_num)
    df_cotimes.to_csv('./cotimes.csv', index=None, header=None)
    
    df_cotimes.columns = [0,1,2]
    df_near = near_cell(picture_num=picture_num, df_cotimes=df_cotimes)
    
    #for each cell pair, computing (near times) / (total times)
    df_corate = df_comtimes.copy()
    df_corate.iloc[:,2] = list(df_near.iloc[:,2] / df_cotimes[:,2])
    df_corate.to_csv('./corate.csv', index=None, header=None)

if __name__ == '__main__':
    main()

0

ValueError: cannot set using a list-like indexer with a different length than the value